:root {
  /* --background: oklch(1 0 0);
  --foreground: oklch(0.34 0.09 262);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.34 0.09 262);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.34 0.09 262); */
  --primary: oklch(0.61 0.2 287);
  --primary-foreground: oklch(0.97 0.02 233);
  /* --secondary: oklch(0.96 0.03 255);
  --secondary-foreground: oklch(0.5 0.08 255);
  --muted: oklch(0.96 0.03 255);
  --muted-foreground: oklch(0.72 0.03 255);
  --accent: oklch(0.96 0.03 255);
  --accent-foreground: oklch(0.5 0.08 255);
  --destructive: oklch(0.6 0.26 27);
  --destructive-foreground: oklch(0.97 0.02 233);
  --border: oklch(0.92 0.03 255);
  --input: oklch(0.92 0.03 255);
  --ring: oklch(0.61 0.2 287);
  --radius: 0.5rem;
  --chart-1: oklch(0.67 0.19 58);
  --chart-2: oklch(0.55 0.15 186);
  --chart-3: oklch(0.42 0.12 230);
  --chart-4: oklch(0.75 0.18 95);
  --chart-5: oklch(0.8 0.22 80); */
}

[data-theme='dark'],
.dark {
  /* --background: oklch(0.34 0.09 262);
  --foreground: oklch(0.97 0.02 233);
  --card: oklch(0.34 0.09 262);
  --card-foreground: oklch(0.97 0.02 233);
  --popover: oklch(0.34 0.09 262);
  --popover-foreground: oklch(0.97 0.02 233); */
  --primary: oklch(0.52 0.18 287);
  --primary-foreground: oklch(0.97 0.02 233);
  /* --secondary: oklch(0.42 0.1 238);
  --secondary-foreground: oklch(0.97 0.02 233);
  --muted: oklch(0.42 0.1 238);
  --muted-foreground: oklch(0.7 0.06 240);
  --accent: oklch(0.42 0.1 238);
  --accent-foreground: oklch(0.97 0.02 233);
  --destructive: oklch(0.34 0.22 27);
  --destructive-foreground: oklch(0.97 0.02 233);
  --border: oklch(0.42 0.1 238);
  --input: oklch(0.42 0.1 238);
  --ring: oklch(0.52 0.18 287);
  --chart-1: oklch(0.5 0.2 255);
  --chart-2: oklch(0.45 0.16 180);
  --chart-3: oklch(0.55 0.22 70);
  --chart-4: oklch(0.6 0.18 310);
  --chart-5: oklch(0.58 0.22 350); */
}
